<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_cust_signup.css') }}">
</head>
<body>
    <h1>Customer Signup</h1>
    <div class="container">
        <form action="/cust_signup.html" method="POST">
            <div class="form-group">
                Email ID (Username):
                <input type="email" name="email" required>
            </div>
            <br>
            <div class="form-group">
                Password:
                <input type="password" name="password" required>
            </div>
            <br>
            <div class="form-group">
                Fullname:
                <input type="text" name="fname">
            </div>
            <br>
            <div class="form-group">
                Address:
                <br>
                <textarea placeholder="Enter your address" cols="25" rows="5"></textarea>
            </div>
            <br>
            <div class="form-group">
                Pin Code:
                <input type="number" name="PIN" maxlength="6">
            </div>
            <br>
            <div>
                <input type="submit" value="Register" class="btn">
            </div>
            <br>
            <div>
                <a href="home_login.html">Login Here / Click here to return to home login page</a>
            </div>
        </form>
    </div>
</body>
</html>
