<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-Z Household Services</title>
</head>
<body>
    <h1 align="center">A-Z Household Services</h1>
    <div>
        <form action='/' method="POST">
            <div align="left">
            Registered Email:
            <input type="email" name="email" required>  
            </div>
            <br>
            <div align="left">
                Password:
            <input type="password" name="password" required>
            </div>
            <br>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
        <br>
        <div>
            <a href="cust_signup.html">Create Account (Customer)</a>
        </div>
        <br>
        <div>
            <a href="prof_signup.html">Register as a Service Professional</a>
        </div>
    </div>
</body>
</html>