<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Professional Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_prof_signup.css') }}">
</head>
<body>
    <h1>Service Professional Signup</h1>
    <div class="container">
        <form action="{{ url_for('prof_signup') }}" method="POST">
            <div class="form-group">
                Email ID (Username):
                <input type="email" name="username" required>
            </div>
            <br>
            <div class="form-group">
                Password:
                <input type="password" name="password" required>
            </div>
            <br>
            <div class="form-group">
                Fullname:
                <input type="text" name="name">
            </div>
            <br>
            <div class="form-group">
                Service Name:
                <select name="service_type" id="service" required>
                    <option value="">---Select Service---</option>
                    {% for service in services %}
                        <option value="{{ service.name }}">{{ service.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                Experience (in yrs):
                <input type="number" name="experience" maxlength="2">
            </div>
            <br>
            <div class="form-group">
                Address:
                <br>
                <textarea name="address" placeholder="Enter your address" cols="25" rows="5"></textarea>
            </div>
            <br>
            <div class="form-group">
                Pin Code:
                <input type="number" name="pin_code" maxlength="6">
            </div>
            <br>
            <div class="form-group">
                About:
                <br>
                <textarea name="about" placeholder="Tell us about yourself" cols="25" rows="5" required></textarea>
            </div>
            <br>
            <div>
                <input type="submit" value="Register" class="btn">
            </div>
            <br>
            <div>
                <a href="{{ url_for('home_login') }}">Login Here / Click here to return to home login page</a>
            </div>
        </form>
    </div>
</body>
</html>
