<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_summary.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('prof_dashboard') }}">Dashboard</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('prof_summary') }}">Summary</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <h1>Service Request Summary</h1>
    <img src="data:image/png;base64,{{ chart_base64 }}" alt="Service Request Summary Chart">
</body>
</html>
